@import "colors.scss";

button {
	
	color: $action_green;
	border: 3px solid $action_green;
	padding: 15px 20px;
	background: transparent;
	min-width: 100px;
	margin-right:10px;
	transition: all 400ms;
	outline: none;
	
	&:active, &:focus, &:visited { outline: none }
	
	&:hover { background: $action_green; color: $black;}
	
	&.active {
		color: $black;
		background: $action_green;
	}
	
}