button, .button {
  color: crimson;
  border: 2px solid crimson;
  padding: 10px 15px;
  background: transparent;
  min-width: 100px;
  margin: 0 2px;
  transition: all 400ms;
  outline: none;
  text-decoration: none;
  font-size: 14px; }
  button:active, button:focus, button:visited, .button:active, .button:focus, .button:visited {
    outline: none; }
  button:hover, .button:hover {
    background: crimson;
    color: #333; }
  button.active, .button.active {
    color: white;
    background: crimson; }
