@import "colors.scss";

button, .button {
	
	color: $red;
	border: 2px solid $red;
	padding: 10px 15px;
	background: transparent;
	min-width: 100px;
	margin: 0 2px;
	transition: all 400ms;
	outline: none;
	text-decoration: none;
	font-size:14px;
	
	&:active, &:focus, &:visited {  outline: none }
	
	&:hover { background: $red; color: $black;}
	
	&.active {
		color: white;
		background: $red;
	}
	
}