button, .button {
  color: #00FF9C;
  border: 3px solid #00FF9C;
  padding: 15px 20px;
  background: transparent;
  min-width: 100px;
  margin: 0 5px;
  transition: all 400ms;
  outline: none;
  text-decoration: none; }
  button:active, button:focus, button:visited, .button:active, .button:focus, .button:visited {
    outline: none; }
  button:hover, .button:hover {
    background: #00FF9C;
    color: #333; }
  button.active, .button.active {
    color: #333;
    background: #00FF9C; }
