@import "helpers/media.scss";

.avatar-card {
	width:100%;
	max-width: 650px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	
	
	height: 400px;
	align-items: center;
	justify-content: space-around;
	
	.card-body {
		max-width: 370px;
		line-height: 70px;
		
		@include respond-to($phone) {
			line-height: 60px;
			font-size: 24px;
		}
		
	}
	
}