@font-face {
  font-family: "A";
  src: url("ABEAKRG.TTF"); }

* {
  font-family: "Abel"; }

h1 {
  font-size: 85px;
  font-family: "Nixie One";
  margin: 20px 0;
  color: #ddd;
  font-weight: 100;
  text-align: right; }
  @media only screen and (max-width: 480px) {
    h1 {
      font-size: 50px;
      text-align: center; } }

h3 {
  font-size: 38px;
  margin: 10px 0;
  color: #00FF9C;
  font-weight: bold;
  text-transform: uppercase;
  text-align: right; }
  @media only screen and (max-width: 480px) {
    h3 {
      font-size: 28px;
      text-align: center; } }

h4 {
  font-size: 25px;
  margin: 10px 0;
  color: white;
  font-weight: bold;
  text-transform: uppercase; }

strong {
  color: #00FF9C; }

button {
  font-size: 12px; }
