@import "colors.scss";
@import "helpers/media.scss";

@font-face{
	font-family: "A";
	src: url('ABEAKRG.TTF');
}

$main-font: 'A';

* {
	font-family: $main-font;
}
		
h1 {
	font-size: 85px;
	font-family: $main-font;
	margin: 20px 0;
	color: $white;
	
	@include respond-to($phone) {
		font-size: 50px;
		text-align: center;
	}
	
}

h3 {
	font-size: 48px;
	margin: 10px 0;
	color: $action_green;
	font-weight: bold;
	text-transform: uppercase;
	
	@include respond-to($phone) {
		font-size: 28px;
		text-align: center;
	}
	
}

h4 {
	font-size: 25px;
	margin: 10px 0;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
}

strong {
	color: $action_green;
}

button {
	font-size: 12px;
}