@font-face {
  font-family: "A";
  src: url("ABEAKRG.TTF"); }

* {
  font-family: "A"; }

h1 {
  font-size: 85px;
  font-family: "A";
  margin: 20px 0;
  color: #ddd;
  text-shadow: 0px 2px 2px black; }
  @media only screen and (max-width: 480px) {
    h1 {
      font-size: 50px; } }

h3 {
  font-size: 48px;
  margin: 10px 0;
  color: #00FF9C;
  font-weight: bold;
  text-transform: uppercase; }
  @media only screen and (max-width: 480px) {
    h3 {
      font-size: 28px; } }

h4 {
  font-size: 25px;
  margin: 10px 0;
  color: white;
  font-weight: bold;
  text-transform: uppercase; }

strong {
  color: #00FF9C; }

button {
  font-size: 12px; }
