.image-container {
	
	.image-circle {
		width: 180px;
		height: 180px;
		background: white;
		border-radius: 50%;
		
		background-size: cover !important;
		background-position: center center !important;
		
	}
	
	.image-title {
		text-transform: uppercase;
		padding-top: 20px;
		text-align: center;
		width: 100%;
		color: #222;
	}
	
}