.image-container .image-circle {
  width: 250px;
  height: 250px;
  background: white;
  border-radius: 50%; }

.image-container .image-title {
  text-transform: uppercase;
  padding-top: 30px;
  text-align: center;
  width: 100%;
  color: white; }
