.menu {
  height: 100vh;
  background: #222;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  transition: all 300ms; }
  @media only screen and (max-width: 480px) {
    .menu {
      position: fixed;
      padding: 0;
      top: 0;
      bottom: 0;
      left: 0;
      width: 50%;
      z-index: 100; } }
  .menu a {
    display: block;
    text-decoration: none;
    color: white;
    margin: 10px 0;
    transition: all 300ms;
    text-align: center; }
  .menu.open {
    width: 100px; }
  .menu.close {
    width: 0; }
    .menu.close a {
      transform: translate(-90px); }

.fa-bars {
  position: fixed;
  top: 20px;
  cursor: pointer;
  z-index: 10;
  transition: all 300ms; }
  .fa-bars.navbar-open {
    left: 110px; }
  .fa-bars.navbar-close {
    left: 10px; }
