@import "helpers/media.scss";

.menu {
	height: 100vh;
	background: crimson;

	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;

    transition: all 300ms;

	@include respond-to($phone) {
		position: fixed;
		padding: 0;


		top: 0; bottom: 0; left: 0;
		width: 50%;
		z-index: 100;
	}

	a {
		display: block;
		text-decoration: none;
		color: white;
		margin: 10px 0;
        transition: all 300ms;
        text-align: center;
        font-size: 16px;

	}

    &.open {

      width: 200px;

    }

    &.close {

      width: 0;
      a { transform:translate(-90px) }

    }

}

.fa-bars {
  position: fixed;
  top: 0px;
  left:0;
  cursor: pointer;
  z-index:10;

  transition: all 300ms;

  padding: 20px;
  background: crimson;
  color: white;

  &.navbar-open { left: 190px; }
  &.navbar-close { left: 0px }

}