section {
	
	display: flex;
	justify-content: center;
	height:100vh;
	position: relative;

	&.auto-height { height: auto; }
	//&.main { background: url("http://i.imgur.com/5x0Qe98.png") }
	
	.container {
		
		display: flex;
		flex-direction: column;
		justify-content: center;
		
		max-width: 960px;
		padding:0 10px;
		margin: 0 auto;
		width: 100%;
		
	}
	
}

.button-row-bottom {
	display: flex;
	justify-content: center;
	
	position:fixed;
	bottom: 0;
	left: 0;
	right: 0;
}

.flex-row {
	display: flex;
	justify-content: center;
	
	.icon-link {
		height: 90px;
		width: 90px;
		border-radius: 50%;
		margin: 10px;
		cursor: pointer;
		-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
		filter: grayscale(100%);
		
		transition: all 400ms;
		
		&:hover {
			-webkit-filter: grayscale(30%); /* Safari 6.0 - 9.0 */
			filter: grayscale(30%);
		}
		
	}
	
}


.gallery-row {
	display: flex;
	flex-wrap: wrap;
	-ms-flex-pack: justify;
	overflow: auto;
	justify-content: center;
	height: 300px;
	
	@include respond-to($phone) {
		height: auto;
		overflow-y: scroll; /* has to be scroll, not auto */
		-webkit-overflow-scrolling: touch;
	}
	
	.avatar-card {
		width: 200px;
		max-width: 650px;
		margin: 20px;
		display: flex;
		flex-direction: row;
		-ms-flex-align: center;
		align-items: center;
		height: auto;
	}
	
}