section {
	display: flex;
	justify-content: center;
	height:100vh;
	
	background:url("../assets/Background Secondary.png");
	
	&.main {
		background: url("../assets/Background Primary.png");
	}
	
	background-size: cover !important;
	
	
	.container {
		
		display: flex;
		flex-direction: column;
		//align-items: center;
		justify-content: center;
		
		
		max-width: 960px;
		padding:0 10px;
		margin: 0 auto;
		width: 100%;
	}
	
}