section {
  display: flex;
  justify-content: center;
  height: 100vh;
  position: relative; }
  section.auto-height {
    height: auto; }
  section .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 960px;
    padding: 0 10px;
    margin: 0 auto;
    width: 100%; }

.button-row-bottom {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0; }

.flex-row {
  display: flex;
  justify-content: center; }
  .flex-row .icon-link {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    transition: all 400ms; }
    .flex-row .icon-link:hover {
      -webkit-filter: grayscale(30%);
      /* Safari 6.0 - 9.0 */
      filter: grayscale(30%); }

.gallery-row {
  display: flex;
  flex-wrap: wrap;
  -ms-flex-pack: justify;
  overflow: auto;
  justify-content: center;
  height: 300px; }
  @media only screen and (max-width: 480px) {
    .gallery-row {
      height: auto;
      overflow-y: scroll;
      /* has to be scroll, not auto */
      -webkit-overflow-scrolling: touch;
      margin-top: 50px; } }
  .gallery-row .avatar-card {
    width: 200px;
    max-width: 650px;
    margin: 20px;
    display: flex;
    flex-direction: row;
    -ms-flex-align: center;
    align-items: center;
    height: auto; }
