body {
	margin: 0;
	padding: 0;
    font-family: sans-serif;
	background: lightgray;
}

.main-section {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: url("http://i.imgur.com/5y1WFf8.jpg");
	background-size: cover;
	background-position: center;
	overflow: hidden;
}

.logo-container > img {
	-ms-transform: rotate(7deg); /* IE 9 */
	-webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
	transform: rotate(-12deg);
	width: 350px;
}

h1, h2, h3, .overlay-link, button {
	font-family: "Roboto Slab";
	text-transform: uppercase;
	text-align: center;
	color: white;
}

h1  {
	font-size: 3em;
}

h3 {
	font-size: 1.5em;
	color: white;
}

.navigation-row {
	display: flex;
	justify-content: center;
	/*width: 100%;*/
	width: 100%;
	position: fixed;
	bottom: 0px;
	left: 0px;
	right : 0px;
}

.navigation-link {
	width: 80px;
	height: 80px;
	background: white;

	display: flex;
	justify-content: center;
	align-items: center;

	/*border-radius: 50%;*/
	box-shadow: 0px 3px 6px #333;

	margin: 10px;

}

.navbar {
	z-index: 20000;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	padding: 20px 0 0 20px;
}

.navbar > .fa {
	font-size: 2em;
	color: white;
	text-shadow: 1px 2px 2px #333;
	cursor: pointer;
	transition: all 400ms;
}

.navbar > .fa:hover {
	transform:rotate(-90deg);
}

.overlay {
	z-index: 10000;
	background: #b92222;
	color: white;

	position:fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	overflow: hidden;
}

.overlay-link {
	margin: 20px auto;
	padding-bottom: 10px;
	cursor: pointer;
	width: 300px;
	transition: all 250ms ease;
	border-bottom: 3px solid transparent;

	font-size: 1.5em;

	text-decoration: none;
	color: white;
}

 .overlay-link:hover {
	border-color: white;
}

button {
	font-size: 1.2em;
	padding: 20px 35px;
	border: 3px solid white;
	border-bottom: 6px solid white;
	background:transparent;
	outline: none;
	cursor: pointer;
	transition: 400ms all ease;
}
